version: '3.8'

services:
  app:
    build: .
    container_name: app-secunda-task
    restart: unless-stopped
    ports:
      - "8000:8080"
    volumes:
      - ./SecundaTask:/var/www
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgis/postgis:15-3.4
    restart: always
    container_name: db-pgsql
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: secunda_task_db
      POSTGRES_USER: task_user
      POSTGRES_PASSWORD: secunda@!
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    driver: bridge
